/* Fucking around with CSS, thats why there are few choices you might find disturbing*/
p#title{
  font-family: 'Sansita Swashed', cursive;
  font-weight: normal;
  font-style: normal;
  font-size:2em;
  color: rgb(255,255,255);
  text-shadow: 2px 2px 3px black; /* Works the same as box-shadow*/
}

body{
  background-color: #50505052;
  background-image: url("../images/css3-html5-logo.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
}
article{
  position:relative;
}
div.main-text{
  border: 2px solid red;
  border-style: dashed;
  border-width: 5px;
  padding: 60px 20px 10px 30px;
  margin: 20px 10px 5px 1px;
  width: 50vw;
  height:50vh;
  /*
  background-color:blueviolet;
  background-color: #50505052;
  background-image: url("../images/css3-html5-logo.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  background-position: left; */
  /*Yes I know above code is redundant, but Im just fucking around with it for now*/
  background-image: linear-gradient(-90deg,red 10%,green 20%, yellow 70%);
  background-image: radial-gradient(red,green);
  background-image: linear-gradient(gray,rgb(54, 54, 54));
  color: white;
  overflow: auto;
  border-radius: 50px 30px 0px 20px; /* Adding additional values does different things with corners*/
  border-radius: 50%; 
}
div.main-text:hover{
  background-color:red;
  color:white;
}
div.main-text p::first-letter{
  color:blueviolet;
  font-size:36px;
}
span{
  position:sticky;
  top:0;
  left: 50px;
  overflow:auto;
  overflow-x: scroll;
}
a:hover{
  color: red;
}
a:visited{
  color:green;
}
#test2{
  background-color: grey;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  color: white;
  box-shadow: 2px 2px 5px #000000; /* box-shadow: {how much its moved right} {how much its moved from bottom} {how big distortion is} {what color it is}*/
  box-shadow: 10px 10px 0px red, -10px -10px 0px yellow; /* we can add more of them after comma*/
  /*Border radius, making cuts in boxes*/
  border-radius: 10px;
  /*Float*/
  float:left; 
  clear: both;
  
  
}
img{
  float:left;
}
#our-header{
  display:flex;
  /*flex-direction: row-reverse;*/
  flex-wrap: nowrap; /*default is no-wrap, and it will resize elements if screen is resized, wrap will push object down withouth resizing*/
  /*
  justify-content: center;
  justify-content: left;
  justify-content: right;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  */
  height: 300px;
  border:1px solid red;
  align-items: center;
  align-items: stretch;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;

}
.numer{
/*Flex box lepsza opcja od float*/

  background-color: royalblue;
  border:1px solid black;
  flex-grow: 1;
}